<!DOCTYPE html>
<html>
  <head>
  <title>College Prediction</title>
  <style>
    body {background-color: powderblue;}
    h1 {color: black;}
  </style>
  </head>
  <body>
  <h1>College Prediction</h1>
    <div class="login">
	<form action='https://josaa-prediction.herokuapp.com/predict' method="POST">
	
		<label for="Round">Round</label>
      <SELECT name="Round" id="Round">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>1</option>
		<OPTION value= '2'>2</option>
		<OPTION value= '3'>3</option>
		<OPTION value= '4'>4</option>
		<OPTION value= '5'>5</option>
		<OPTION value= '6'>6</option>
		<OPTION value= '7'>7</option>
		</SELECT>
		<br>
		
		<label for="Category">Category</label>
      <SELECT name="Category" id="Category">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>NIT</option>
		<OPTION value= '2'>IIT</option>
		<OPTION value= '3'>GFTIs</option>
		<OPTION value= '4'>IIIT</option>
		<OPTION value= '5'>GFTI</option>
		<OPTION value= '6'>IIEST</option>
		</SELECT>
		<br>
		
		<label for="Academic Program Name">Academic Program Name</label>
      <SELECT name="Academic Program Name" id="Academic Program Name">
		<OPTION value="" disabled selected>SELECT</option>
		OPTION value= '1'>Food Technology and Management (4 Years, Bachelor of Technology)</option>
		<OPTION value= '2'>Mechanical Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '3'>Electronics and Communication Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '4'>Computer Science and Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '5'>Civil Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '6'>Electronics and Communication Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		OPTION value= '7'>Computer Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '8'>Production and Industrial Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '9'>Materials and Metallurgical Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '10'>Electrical Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '11'>Aerospace Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '12'>Computer Science (5 Years, Integrated Master of Technology)</option>
		OPTION value= '13'>Mining Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '14'>Metallurgy and Materials Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '15'>Information Technology (4 Years, Bachelor of Technology)</option>
		<OPTION value= '16'>Electronics and Telecommunication Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '17'>Architecture, Town and Regional Planning (5 Years, Bachelor of Architecture)</option>
		<OPTION value= '18'>Architecture (5 Years, Bachelor of Architecture)</option>
		OPTION value= '19'>Manufacturing Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '20'>Industrial and Production Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '21'>Chemical Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '22'>Carpet and Textile Technology (4 Years, Bachelor of Technology)</option>
		<OPTION value= '23'>Information Technology-Business Informatics (4 Years, Bachelor of Technology)</option>
		<OPTION value= '24'>Metallurgical and Materials Engineering (4 Years, Bachelor of Technology)</option>
		OPTION value= '25'>Electrical and Electronics Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '26'>Physics (5 Years, Integrated Master of Science)</option>
		<OPTION value= '27'>Mathematics (5 Years, Integrated Master of Science)</option>
		<OPTION value= '28'>Chemistry (5 Years, Integrated Master of Science)</option>
		<OPTION value= '29'>Bio Technology (4 Years, Bachelor of Technology)</option>
		<OPTION value= '30'>Production Engineering (4 Years, Bachelor of Technology)</option>
		OPTION value= '31'>Instrumentation and Control Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '32'>Electronics and Instrumentation Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '33'>Mining Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '34'>Metallurgical and Materials Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '35'>Life Science (5 Years, Integrated Master of Science)</option>
		<OPTION value= '36'>Industrial Design (4 Years, Bachelor of Technology)</option>
		OPTION value= '37'>Food Process Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '38'>Chemical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '39'>Ceramic Engineering and M.Tech Industrial Ceramic (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '40'>Ceramic Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '41'>Bio Medical Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '42'>Computer Engineering (4 Years, Bachelor of Technology)</option>
		OPTION value= '43'>Materials Science and Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '44'>Biotechnology (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '45'>Engineering Physics (4 Years, Bachelor of Technology)</option>
		<OPTION value= '46'>Physics (5 Years, Bachelor of Science and Master of Science (Dual Degree))</option>
		<OPTION value= '47'>Mathematics and Computing (5 Years, Integrated Master of Technology)</option>
		<OPTION value= '48'>Engineering Physics (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		OPTION value= '49'>Chemistry (5 Years, Bachelor of Science and Master of Science (Dual Degree))</option>
		<OPTION value= '50'>Biotechnology and Biochemical Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '51'>Mathematics and Computing (4 Years, Bachelor of Technology)</option>
		<OPTION value= '52'>Electronics and Electrical Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '53'>Chemical Science and Technology (4 Years, Bachelor of Technology)</option>
		<OPTION value= '54'>Pharmaceutical Engineering & Technology (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		OPTION value= '55'>Pharmaceutical Engineering & Technology (4 Years, Bachelor of Technology)</option>
		<OPTION value= '56'>Metallurgical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '57'>Metallurgical Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '58'>Mechanical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '59'>Mathematics and Computing (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '60'>Materials Science and Technology (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		OPTION value= '61'>Industrial Chemistry (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '62'>Electronics Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '63'>Electrical Engineering with M.Tech. in Power Electronics (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '64'>Civil Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '65'>Ceramic Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '66'>Bioengineering with M.Tech in Biomedical Technology (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		OPTION value= '67'>Biochemical Engineering with M.Tech. in Biochemical Engineering and Biotechnology (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '68'>Petroleum Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '69'>Mining Machinery Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '70'>Mineral Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '71'>Environmental Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '72'>Applied Geophysics (5 Years, Integrated Master of Technology)</option>
		OPTION value= '73'>Applied Geology (5 Years, Integrated Master of Technology)</option>
		<OPTION value= '74'>Polymer Science and Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '75'>Geophysical Technology (5 Years, Integrated Master of Technology)</option>
		<OPTION value= '76'>Geological Technology (5 Years, Integrated Master of Technology)</option>
		<OPTION value= '77'>Applied Mathematics (5 Years, Integrated Master of Science)</option>
		<OPTION value= '78'>Naval Architecture and Ocean Engineering (4 Years, Bachelor of Technology)</option>
		OPTION value= '79'>Engineering Design (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '80'>Biological Sciences (5 Years, Bachelor of Science and Master of Science (Dual Degree))</option>
		<OPTION value= '81'>Biological Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '82'>Aerospace Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '83'>Physics (4 Years, Bachelor of Science)</option>
		<OPTION value= '84'>Mathematics and Scientific Computing (4 Years, Bachelor of Science)</option>
		OPTION value= '85'>Economics (4 Years, Bachelor of Science)</option>
		<OPTION value= '86'>Earth Sciences (4 Years, Bachelor of Science)</option>
		<OPTION value= '87'>Chemistry (4 Years, Bachelor of Science)</option>
		<OPTION value= '88'>Biological Sciences and Bioengineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '89'>Bio Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '90'>Materials Science and Metallurgical Engineering (4 Years, Bachelor of Technology)</option>
		OPTION value= '91'>Engineering Science (4 Years, Bachelor of Technology)</option>
		<OPTION value= '92'>Artificial Intelligence (4 Years, Bachelor of Technology)</option>
		<OPTION value= '93'>Quality Engineering Design and Manufacturing (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '94'>Ocean Engineering and Naval Architecture (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '95'>Ocean Engineering and Naval Architecture (4 Years, Bachelor of Technology)</option>
		<OPTION value= '96'>Mining Safety Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		OPTION value= '97'>Mechanical Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '98'>Mathematics and Computing (5 Years, Integrated Master of Science)</option>
		<OPTION value= '99'>Manufacturing Science and Engineering with M.Tech. in Industrial and Systems Engineering and Management (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '100'>Manufacturing Science and Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '101'>Instrumentation Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '102'>Industrial and Systems Engineering with M.Tech. in Industrial and Systems Engineering and Management (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		OPTION value= '103'>Industrial and Systems Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '104'>Exploration Geophysics (5 Years, Integrated Master of Science)</option>
		<OPTION value= '105'>Electronics and Electrical Communication Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '106'>Electronics and Electrical Communication Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '107'>Electrical Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '108'>Economics (5 Years, Integrated Master of Science)</option>
		OPTION value= '109'>Civil Engineering with any of the listed specialization (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '110'>Biotechnology and Biochemical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '111'>Applied Geology (5 Years, Integrated Master of Science)</option>
		<OPTION value= '112'>Agricultural and Food Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '113'>Agricultural and Food Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '114'>Metallurgical Engineering and Materials Science (4 Years, Bachelor of Technology)</option>
		OPTION value= '115'>Textile Technology (4 Years, Bachelor of Technology)</option>
		<OPTION value= '116'>Electrical Engineering (Power and Automation) (4 Years, Bachelor of Technology)</option>
		<OPTION value= '117'>Data Science and Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '118'>Bio Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '119'>Metallurgical Engineering & Materials Science (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '120'>Mechanical Engineering and M.Tech. in Computer Integrated Manufacturing (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		OPTION value= '121'>Environmental Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '122'>Energy Engineering with M.Tech. in Energy Systems Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '123'>Electrical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '124'>BS in Mathematics (4 Years, Bachelor of Science)</option>
		<OPTION value= '125'>Mechanical Engineering with M.Tech. in Manufacturing Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '126'>Mechanical Engineering and M. Tech. in Thermal Science & Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		OPTION value= '127'>Mechanical Engineering and M. Tech. in Mechanical System Design (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '128'>Electrical Engineering and M.Tech Power Electronics and Drives (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '129'>Civil Engineering and M.Tech. in Environmental Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '130'>Civil Engineering and M.Tech in Transportation Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '131'>Civil Engineering and M. Tech. in Structural Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
		<OPTION value= '132'>Agricultural Engineering (4 Years, Bachelor of Technology)</option>
		OPTION value= '133'>Food Technology (4 Years, Bachelor of Technology)</option>
		<OPTION value= '134'>Mechatronics Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '135'>Electronics & Communication Engineering (5 Years, B.Tech. + M.Tech./MS (Dual Degree))</option>
		<OPTION value= '136'>Computer Science & Engineering (5 Years, B.Tech. + M.Tech./MS (Dual Degree))</option>
		<OPTION value= '137'>Smart Manufacturing (4 Years, Bachelor of Technology)</option>
		<OPTION value= '138'>Mathematics & Computing (5 Years, Bachelor of Science and Master of Science (Dual Degree))</option>
		OPTION value= '139'>Biosciences and Bioengineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '140'>Mineral and Metallurgical Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '141'>Materials Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '142'>Civil and Infrastructure Engineering (4 Years, Bachelor of Technology)</option>
		<OPTION value= '143'>Artificial Intelligence and Data Science (4 Years, Bachelor of Technology)</option>
		<OPTION value= '144'>Biomedical Engineering (4 Years, Bachelor of Technology)</option>
		OPTION value= '145'>Artificial Intelligence(4 year, Bachelor of Technology, Engineering)</option>
		<OPTION value= '146'>Engineering and Computational Mechanics (4 Years, Bachelor of Technology)</option>
		<OPTION value= '147'>Data Science and Engineering(4 year, Bachelor of Technology, Engineering)</option>
		<OPTION value= '148'>Bio Engineering(5 year, Bachelor and Master of Technology (Dual Degree), Engineering)</option>
		<OPTION value= '149'>Metallurgical Engineering & Materials Science(5 year, Bachelor and Master of Technology (Dual Degree), Engineering)</option>
		</SELECT>
		<br>
		
		<label for="Quota">Quota</label>
      <SELECT name="Quota" id="Quota">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>AI</option>
		<OPTION value= '2'>OS</option>
		<OPTION value= '3'>HS</option>
		<OPTION value= '4'>JK</option>
		<OPTION value= '5'>GO</option>
		<OPTION value= '6'>AP</option>
		<OPTION value= '7'>LA</option>
		</SELECT>
		<br>
		
		<label for="Seat Type">Seat Type</label>
      <SELECT name="Seat Type" id="Seat Type">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>OPEN</option>
		<OPTION value= '2'>OBC-NCL</option>
		<OPTION value= '3'>SC</option>
		<OPTION value= '4'>ST</option>
		<OPTION value= '5'>EWS</option>
		<OPTION value= '6'>OPEN (PwD)</option>
		<OPTION value= '7'>OBC-NCL (PwD)</option>
		<OPTION value= '8'>EWS PwD</option>
		<OPTION value= '9'>SC (PwD)</option>
		<OPTION value= '10'>ST (PwD)</option>
		</SELECT>
		<br>
		
		<label for="Gender">Gender</label>
      <SELECT name="Gender" id="Gender">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>Gender-Neutral</option>
		<OPTION value= '2'>Female-only (including Supernumerary)</option>
		</SELECT>
		<br>
		
		<label for="Josaa Opening Rank">Josaa Opening Rank</label>
		<input type="text" id="Josaa Opening Rank" name="Josaa Opening Rank">	
		<br>
	
		<label for="Josaa Closing Rank">Josaa Closing Rank</label>
		<input type="text" id="Josaa Closing Rank" name="Josaa Closing Rank">	
		<br>
		
		<label for="NIRF rank">NIRF rank</label>
      <SELECT name="NIRF rank" id="NIRF rank">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>(0 to 15)Rank</option>
		<OPTION value= '2'>(16 to 30)Rank</option>
		<OPTION value= '3'>(31 to 45)Rank</option>
		<OPTION value= '4'>(46 to 60)Rank</option>
		<OPTION value= '5'>(61 to 75)Rank</option>
		<OPTION value= '6'>(76 to 100)Rank</option>
		<OPTION value= '7'>(101 to 115)Rank</option>
		<OPTION value= '8'>(116 to 130)Rank</option>
		<OPTION value= '9'>(131 to 150)Rank</option>
		</SELECT>
		<br>
	 
		<label for="NAAC Grade">NAAC Grade</label>
      <SELECT name="NAAC Grade" id="NAAC Grade">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '0'>No NAAC</option>
		<OPTION value= '1'>A</option>
		<OPTION value= '2'>A+</option>
		</SELECT>
		<br>
		
		<label for="State">State</label>
      <SELECT name="State" id="inst_ty">
		<OPTION value="" disabled selected>SELECT</option>
		{% for b in c %}
	
		<OPTION value= '{{b}}'>{{b}}</option>
		{% endfor %}
		</select>
		<br>
		
		
		<label for="City">City</label>
      <SELECT name="City" id="inst_name">
		<OPTION value="" disabled selected>SELECT</option>
		{{final}}
	
		</SELECT>
		<br>
		
		
		<label for="Boys Hostels">Boys Hostels</label>
      <SELECT name="Boys Hostels" id="Boys Hostels">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>(0 to 5) hostels</option>
		<OPTION value= '2'>(6 to 10) hostels</option>
		<OPTION value= '3'>(11 to 15) hostels</option>
		<OPTION value= '4'>(16 to 20) hostels</option>
		</SELECT>
		<br>
		
		
		<label for="Girls Hostels">Girls Hostels</label>
      <SELECT name="Girls Hostels" id="Girls Hostels">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>(0 to 2) hostels</option>
		<OPTION value= '2'>(3 to 5) hostels</option>
		<OPTION value= '3'>(6 to 7) hostels</option>
		<OPTION value= '4'>(8 to 10) hostels</option>
		</SELECT>
		<br>
		
		<label for="UG Approved Intake">UG Approved Intake</label>
      <SELECT name="UG Approved Intake" id="UG Approved Intake">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>(60 to 200) Intake</option>
		<OPTION value= '2'>(201 to 400) Intake</option>
		<OPTION value= '3'>(401 to 600) Intake</option>
		<OPTION value= '4'>(601 to 800) Intake</option>
		<OPTION value= '5'>(801 to 1000) Intake</option>
		<OPTION value= '6'>(1001 to 1300) Intake</option>
		</SELECT>
		<br>
		
		<label for="Students admitted in UG">Students admitted in UG</label>
      <SELECT name="Students admitted in UG" id="Students admitted in UG">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>(0 to 200) Students admitted</option>
		<OPTION value= '2'>(201 to 400) Students admitted</option>
		<OPTION value= '3'>(401 to 600) Students admitted</option>
		<OPTION value= '4'>(601 to 800) Students admitted</option>
		<OPTION value= '5'>(801 to 1000) Students admitted</option>
		<OPTION value= '6'>(1001 to 1400) Students admitted</option>
		</SELECT>
		<br>
		
		<label for="Students Placed in UG">Students Placed in UG</label>
      <SELECT name="Students Placed in UG" id="Students Placed in UG">
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>(0 to 100) Students Placed</option>
		<OPTION value= '2'>(101 to 200) Students Placed</option>
		<OPTION value= '3'>(201 to 300) Students Placed</option>
		<OPTION value= '4'>(301 to 400) Students Placed</option>
		<OPTION value= '5'>(401 to 500) Students Placed</option>
		<OPTION value= '6'>(501 to 600) Students Placed</option>
		<OPTION value= '7'>(601 to 800) Students Placed</option>
		</SELECT>
		<br>
				
		
		<label for="Median Salary UG">Median Salary UG</label>
      <SELECT name="Median Salary UG" id="Median Salary UG" >
		<OPTION value="" disabled selected>SELECT</option>
		<OPTION value= '1'>less than 1 lakhs</option>
		<OPTION value= '2'>1 lakhs to 3 lakhs</option>
		<OPTION value= '3'>3 lakhs to 6 lakhs</option>
		<OPTION value= '4'>6 lakhs to 8 lakhs</option>
		<OPTION value= '5'>8 lakhs to 10 lakhs</option>
		<OPTION value= '6'>10 lakhs to 12 lakhs</option>
		<OPTION value= '7'>12 lakhs to 14 lakhs</option>
		<OPTION value= '8'>14 lakhs to 16 lakhs</option>
		</SELECT>
		<br>
		
	
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){  
		$('#inst_ty').change(function(){  
			var inst_no = $(this).val();
			$.ajax({  
				url:"https://josaa-prediction.herokuapp.com/hello",  
				method:"POST",  
				data:JSON.stringify({inst_no:inst_no}), 
				contentType: 'application/json; charset=utf-8',
				success:function(data){  
					$('#inst_name').html(data);
						//console.log(data);
				}  
			});  
		}); 

		$('#inst_name').change(function(){  
			var inst_non = $("#inst_ty").val();	
			var inst_name = $(this).val();
			$.ajax({  
				url:"https://josaa-prediction.herokuapp.com/hello",  
				method:"POST", 				
				data:JSON.stringify({inst_non:inst_non,inst_name:inst_name}),  
				contentType: 'application/json; charset=utf-8',
				success:function(data){  
					$('').html(data);  
				}  
			});  
		});

	});


</script>
		<br>
		<br>
		
	<button type="submit" class="btn">Predict</button>
	&emsp; <button><a href="../">Reset</a></button>
	</form>

	<br>
	<br>
	{{ prediction_text }}	
		
    </div>
  </body>
</html>